@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
}

body {
  background: #121212;
}

fieldset {
  @apply bg-white bg-opacity-10 text-white
}

.status-input-wrap {
  @apply flex flex-row gap-2 items-center justify-between
}

input {
  @apply border-gray-400 rounded-sm border-2 p-1 text-sm text-white bg-opacity-10 bg-white
}

select {
  @apply text-white bg-opacity-10 bg-white
}

option {
  @apply text-white bg-[#121212] bg-opacity-80
}

#github-icon {
  fill: #fff;
  color: #333;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}